[Desktop Entry]
Type=Application
Name=VNote (Workspace 3)
Icon=vnote-ws3
Terminal=false
Exec=/home/wachin/Dev/VNote-Dev/vnote/build/src/vnote --new-instance --workspace-id 3 %F
MimeType=text/markdown;
Categories=Utility;
